body { margin: 0; padding: 0; }

#dev-grid-container {
     box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.glx-device-grid {
    display: block;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    height: 100%;
    padding: 15px;

    background-color: #2a2a2a;
    background-position: center center;
    background-repeat: no-repeat;
}

.glx-device-grid:hover {
    cursor: pointer;
}

.glx-device-grid .device-name {
    font-size: 18px;
    color: white;
}

.glx-device-grid .device-state {
    text-align: right;
    width: 100%;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.glx-device-grid .device-metric {
    text-align: center;
    margin-top: 30%;
}

/* Overrides */
.gridster {
    padding: 0;
    margin: 0;

    margin-top: 20px;
}
